<h3>Login</h3>

<%= form_tag login_path do %>
  <div class="input-field">
  <%= text_field_tag :username, nil, autofocus: true %>
    <%= label_tag :username %>
</div>
  <div class="input-field">
  <%= password_field_tag :password, nil %>
    <%= label_tag :password %>
</div>

<%= submit_tag "Login" %>
<% end %>