
<div class="nested-fields">
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :length %>
        <%= f.number_field :length %>
    </div>
    <div>
      <%= f.label :difficulty %>
      <%= f.text_field :difficulty%>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>