<h1>This page shows 1 park and its trails</h1>

<h1><%= @park.name %></h1>
<table>
<tr>
<th>Name</th>
<th>Difficulty</th>
<th>Rating</th>
</tr>
<% @park.trails.each do |trail| %>
<tr>

<td><%= link_to trail.name, trail_path(trail) %></td>
<td><%= trail.rating %></td>
<td><%= trail.difficulty %></td>
<td><%= link_to "New Review", new_trail_review_url(trail) %></td>
</tr>

<% end %>
</table>






<h1>This page shows 1 park and its trails</h1>

<h2><%= @park.name %></h2>
<table class="center, striped">
<thead>
<tr>
<th>Name</th>
<th>Length</th>
<th>Difficulty</th>
<th>Rating</th>
<th>Review</th>
</tr>
<% @park.trails.each do |trail| %>
</tr>
</thead>

<tbody>
<tr>
<td><%= link_to trail.name, trail_path(trail) %></td>
<td><%= trail.length %></td>
<td><%= trail.difficulty %></td>
<td><%= trail.rating %></td>
<td><%= link_to "New Review", new_trail_review_url(trail) %></td>
</tr>


<% end %>
</tr>
</tbody>
</table>

