<h1>This page shows one trail and its details/reveiws</h1>

<br>
<div class="container">
<ul> 
<li>Name: <%= @trail.name %></li>
<li>Rating: <%= @trail.rating %></li>
<li>Difficulty: <%= @trail.difficulty %></li>
<li>Length: <%= @trail.length %></li>
<%= link_to "New Review", new_trail_review_url(@trail) %>
</ul>
</div>

Here's what other hiker's had to say about the trails in this dumb park: 
<% @reviews.each do |review| %>
<% if review.trail_id == @trail.id %> 

<ul>
<li><%= review.content %> - <%= @user_reviewed.name %></li>
</ul>
<% else %>
<% end %>
<% end %>



