<h1>This page shows one trail and its details/reveiws</h1>

<br>
<div class="container">
<ul> 
<li>Name: <%= @trail.name %></li>
<li>Rating: <%= @trail.rating %></li>
<li>Difficulty: <%= @trail.difficulty %></li>
<li>Length: <%= @trail.length %></li>
<%= link_to "New Review", new_trail_review_url(@trail) %>
</ul>
</div>

<% @reviews.each do |review| %>
<% if review.trail_id == @trail.id %> 
<ul>
 Here's what <%= @user_reviewed.name %> had to say about this dumb trail: 
 <br>
<%= review.content %>
</ul>
<% else %>
<% end %>
<% end %>



