<h1>This page shows one trail and its details/reveiws</h1>

<br>
<div class="container">
<ul> 
<li>Name: <%= @trail.name %></li>
<li>Rating: <%= @trail.rating %></li>
<li>Difficulty: <%= @trail.difficulty %></li>
<li>Length: <%= @trail.length %></li>
<%= link_to "New Review", new_trail_review_url(@trail) %>
</ul>
</div>

<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @trail, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Trail Rating: <%= rating_for @trail, "trail_rating", stars: 5, disable_after_rate: false %>
      <br>
      Trail Rating: <%= rating_for_user @trail, current_user, "trail_rating" %>
    <% end %>
  </div>
</div>



