<h1>Add A New Review</h1> 

<%= form_for @review do |r| %>

<%= r.hidden_field :user_id, value: current_user.id %>
<%= r.hidden_field :trail_id, value: @trail.id %>

<h1>Tell me about your stupid hike</h1>

<p><%= r.label :content %>
<%= r.text_field :content %></p>
<br>
<br>

<p><%= r.submit "Submit" %></p>
<% end %>

