<%# This page shows one review after submission of a new review %>

<h1>Showing selected review</h1>
<p>
 Trail: <%= @review.trail.name %>
</p>
<p>
  Difficulty <%= @review.trail.difficulty.capitalize %>
</p>
<p>
 Here's what <%= @user_reviewed.name %> had to say about this dumb trail: 
 <br>
 <h1><%= @review.content %></h1>
</p>

<%= link_to "See what others had to say about this trail", trail_reviews_url(@trail) %>